<div class="flex items-center mb-4">
  <input id="{{ name }}" type="checkbox"
    class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-neutral-900 focus:ring-primary" name="{{ name }}">
  <label for="{{ name }}" class="ml-2 text-sm font-medium text-gray-900">{{ label }}</label>
</div>